Функциональные требования:
Авторизация пользователя
Три роли пользователей (админ сотрудник покупатель)
Регистрация покупателей через сайт
Регистрация сотрудников админом
Добавление пользователем продукта в корзину
(админ) управление пользователями
Журналирование действий пользователя
(админ) Редактирование ролей пользователя
(сотрудник) выдать заказ
(покупатель) сделать заказ
(покупатель) редактировать свою информаци