@using DbmsApp.Services
@using Microsoft.IdentityModel.Tokens
<!DOCTYPE html>
@{
    ViewBag.Title = "DefaultTitle";
    var us = Context.RequestServices.GetService<IUserService>();
    string username = "";
    if(us.CurrentUser != null ) username = us.CurrentUser.FirstName + us.CurrentUser.LastName;
}
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
<nav>
    <a asp-controller="Home" asp-action="Index"> Главная </a> |
    <a asp-controller="Lists" asp-action="UsersList">Список Пользователей</a>
    @if (username.IsNullOrEmpty())
    {
        <a asp-controller="Auth" asp-action="Login">Вход</a>
        <a asp-controller="Auth" asp-action="Register">Регистрация</a>
    }
    else
    {
        <a asp-controller="Auth" asp-action="Logout">Выход</a>
    }
    <span>@username</span>
</nav>
<div>
    @RenderBody()
</div>
</body>
</html>